<page-header model="navModel"></page-header>

<div class="page-container page-body">
  <div class="signup">
    <h3 class="p-b-1">تقریبا ثبت نام تمام است</h3>
    <div class="p-b-1">
      ما به اطلاعات بیشتری برای <br> ایجاد حساب کاربری شما نیاز داریم
    </div>
    <form name="signUpForm" class="login-form gf-form-group">
      <div class="gf-form" ng-if="verifyEmailEnabled">
        <span class="gf-form-label width-9">
          کد ایمیل<tip>کدی که برای ایمیل شما ارسال شده است.</tip>
        </span>
        <input type="text" class="gf-form-input max-width-14" ng-model="formModel.code" required></input>
      </div>

      <div class="gf-form" ng-if="!autoAssignOrg">
        <span class="gf-form-label width-9">نام سازمان</span>
        <input type="text" name="orgName" class="gf-form-input max-width-14" ng-model="formModel.orgName" placeholder="Name your organization">
      </div>

      <div class="gf-form">
        <span class="gf-form-label width-9">نام شما</span>
        <input type="text" name="name" class="gf-form-input max-width-14" ng-model="formModel.name" placeholder="(optional)">
      </div>
      <div class="gf-form">
        <span class="gf-form-label width-9">ایمیل</span>
        <input type="text" class="gf-form-input max-width-14" required ng-model="formModel.username" placeholder="Email" autocomplete="off">
      </div>
      <div class="gf-form">
        <span class="gf-form-label width-9">رمز عبور</span>
        <input type="password" class="gf-form-input max-width-14" required ng-model="formModel.password" id="inputPassword" placeholder="password" autocomplete="off">
      </div>

      <div class="signup__password-strength">
        <password-strength password="formModel.password"></password-strength>
      </div>

      <div class="gf-form-button-row p-t-3">
        <button type="submit" class="btn btn-success" ng-click="ctrl.submit();" ng-disabled="!signUpForm.$valid">
          ثبت نام
        </button>
        <a href="/login" class="btn btn-inverse">
            برگشت
        </a>
      </div>
    </form>
  </div>
</div>
