<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<span class="p-l-1">افزودن هشدار</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
      هشدار ها را می‌توانید در تب هشدار از در هر داشبوردی اضافه و تنظیم نمایید که به شما این امکان را میدهد تا با استفاده از کویری‌های موجود هشدار ها را بسازید و به نمایش در آورید.
			<br> <br>
برای اعمال تغییرات در هشدار ها به یاد داشته که داشبورد را ذخیره نمایید.
			<br>
			<br>
		</p>
	</div>

</div>

