<page-header model="navModel"></page-header>

<div class="page-container page-body">
	<div class="page-sub-heading">
		<h1>افزودن کاربر جدید</h1>
	</div>

	<form name="userForm" class="gf-form-group">
		<div class="gf-form">
			<span class="gf-form-label width-10">نام</span>
			<input type="text" required ng-model="user.name" class="gf-form-input max-width-20" >
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-10">ایمیل</span>
			<input type="email" ng-model="user.email" class="gf-form-input max-width-20" >
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-10">نام کاربری</span>
			<input type="text" ng-model="user.login" class="gf-form-input max-width-20" >
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-10">رمز عبور</span>
			<input type="password" required ng-model="user.password" class="gf-form-input max-width-20" >
		</div>

		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-success" ng-click="create()">ایجاد</button>
		</div>
	</form>
</div>
