<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th>نام</th>
				<th>مقدار</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>تعداد داشبورد ها</td>
				<td>{{ctrl.stats.dashboards}}</td>
			</tr>
			<tr>
				<td>تعداد کاربران</td>
				<td>{{ctrl.stats.users}}</td>
			</tr>
			<tr>
				<td>کاربران فعال (دیده شده در دو هفته گذشته)</td>
				<td>{{ctrl.stats.activeUsers}}</td>
			</tr>
			<tr>
				<td>تعداد سازمان ها</td>
				<td>{{ctrl.stats.orgs}}</td>
			</tr>
			<tr>
				<td>تعداد منابع</td>
				<td>{{ctrl.stats.datasources}}</td>
			</tr>
			<tr>
				<td>تعداد پلی لیست ها</td>
				<td>{{ctrl.stats.playlists}}</td>
			</tr>
			<tr>
				<td>تعداد اسنب شات ها</td>
				<td>{{ctrl.stats.snapshots}}</td>
			</tr>
			<tr>
				<td>تعداد تگ های داشبورد</td>
				<td>{{ctrl.stats.tags}}</td>
			</tr>
			<tr>
				<td>تعداد داشبورد های ستاره شده</td>
				<td>{{ctrl.stats.stars}}</td>
			</tr>
      <tr>
				<td>تعداد هشدارها</td>
				<td>{{ctrl.stats.alerts}}</td>
			</tr>
		</tbody>
	</table>
</div>
