<aside class="dashboard-settings__aside">
	<h2 class="dashboard-settings__aside-header">
		<i class="fa fa-cog"></i>
		تنظیمات
	</h2>

	<a href="{{::section.url}}" class="dashboard-settings__nav-item" ng-class="{active: ctrl.viewId === section.id}" ng-repeat="section in ctrl.sections">
    <i class="{{::section.icon}}"></i>
		{{::section.title}}
	</a>

	<div class="dashboard-settings__aside-actions">
		<button class="btn btn-inverse" ng-click="ctrl.openSaveAsModal()" ng-show="ctrl.canSaveAs">
			<i class="fa fa-copy"></i>
      ذخیره به صورت ...
		</button>

		<button class="btn btn-danger" ng-click="ctrl.deleteDashboard()" ng-show="ctrl.canDelete">
			<i class="fa fa-trash"></i>
حذف
		</button>
	</div>
</aside>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'settings'">
	<h3 class="dashboard-settings__header">
عمومی
	</h3>

	<div class="gf-form-group">
		<div class="gf-form">
			<label class="gf-form-label width-7">نام</label>
			<input type="text" class="gf-form-input width-30" ng-model='ctrl.dashboard.title'></input>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-7">توضیحات</label>
			<input type="text" class="gf-form-input width-30" ng-model='ctrl.dashboard.description'></input>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-7">
				تگ ها
				<info-popover mode="right-normal">برای ایجاد تگ enter بزنید.</info-popover>
			</label>
			<bootstrap-tagsinput ng-model="ctrl.dashboard.tags" tagclass="label label-tag" placeholder="add tags">
			</bootstrap-tagsinput>
		</div>
		<folder-picker initial-title="ctrl.dashboard.meta.folderTitle"
									 initial-folder-id="ctrl.dashboard.meta.folderId"
									 on-change="ctrl.onFolderChange($folder)"
									 enable-create-new="true"
									 is-valid-selection="true"
									 label-class="width-7">
		</folder-picker>
		<gf-form-switch class="gf-form" label="Editable" tooltip="Uncheck, then save and reload to disable all dashboard editing" checked="ctrl.dashboard.editable" label-class="width-7">
		</gf-form-switch>
	</div>

	<gf-time-picker-settings dashboard="ctrl.dashboard"></gf-time-picker-settings>

	<h5 class="section-heading">گزینه های پنل</h5>
	<div class="gf-form">
		<label class="gf-form-label width-11">
			Graph Tooltip
			<info-popover mode="right-normal">
				Cycle between options using Shortcut: CTRL+O or CMD+O
			</info-popover>
		</label>
		<div class="gf-form-select-wrapper">
			<select ng-model="ctrl.dashboard.graphTooltip" class='gf-form-input' ng-options="f.value as f.text for f in [{value: 0, text: 'Default'}, {value: 1, text: 'Shared crosshair'},{value: 2, text: 'Shared Tooltip'}]"></select>
		</div>
	</div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'annotations'" ng-include="'public/app/features/annotations/partials/editor.html'">
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'templating'"  ng-include="'public/app/features/templating/partials/editor.html'">
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'links'" >
	<dash-links-editor dashboard="ctrl.dashboard"></dash-links-editor>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'versions'" >
	<gf-dashboard-history dashboard="dashboard"></gf-dashboard-history>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'view_json'" >
	<h3 class="dashboard-settings__header">نمایش JSON</h3>

	<div class="gf-form">
		<code-editor content="ctrl.json" data-mode="json" data-max-lines=30 ></code-editor>
	</div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === '404'">
  <h3 class="dashboard-settings__header">تنظیمات یافت نشد</h3>

  <div>
    <h5>صفحه تنظیمات قابل مشاهده نیست یا شما به آن دسترسی ندارید</h5>
  </div>
</div>

<div class="dashboard-settings__content" ng-if="ctrl.viewId === 'make_editable'">
  <h3 class="dashboard-settings__header">قابل تغییر نمودن</h3>

  <button class="btn btn-success" ng-click="ctrl.makeEditable()">
    افزودن قابلیت تغییر
  </button>
</div>

