<page-header model="navModel"></page-header>

<div class="page-container page-body">
	<h2 class="page-sub-heading">
    تغییر رمز عبور
	</h2>

	<div ng-if="ldapEnabled || authProxyEnabled">
    وقتی ldap یا auth proxy authentication فعال باشد نمیتوانید رمز عبور را تغییر دهید.
	</div>

	<form name="userForm" class="gf-form-group" ng-hide="ldapEnabled || authProxyEnabled">
		<div class="gf-form">
			<span class="gf-form-label width-10">رمز عبور قبلی</span>
			<input class="gf-form-input max-width-21" type="password" required ng-model="command.oldPassword">
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-10">رمز عبور جدید</span>
			<input class="gf-form-input max-width-21" type="password" required ng-minlength="4"  ng-model="command.newPassword">
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-10">تائید رمز عبور</span>
			<input class="gf-form-input max-width-21" type="password" required ng-minlength="4"  ng-model="command.confirmNew">
		</div>

		<div class="gf-form-button-row">
			<button type="submit" class="btn btn-success" ng-click="changePassword()">تغییر رمز عبور</button>
			<a class="btn-text" href="profile">بیخیال</a>
		</div>
	</form>

</div>

